:root {
   --pixel-size: 2px;
   --grid-cell: calc(var(--pixel-size) * 16);
   --bg: #1D1E28;
   --map-size: 2px;
   --frame-size-height: 144;
   --frame-size-width: 220;
}

@media(min-width: 700px) {
   :root {
       --pixel-size: 3px;
   }
}

@media(min-width: 1000px) {
   :root {
       --pixel-size: 4px;
   }
}

.pixel-art {
   image-rendering: pixelated;
}

.container {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.frame {
   /* This is just for Pen decoration */
   width: calc(var(--pixel-size) * var(--frame-size-width));
   height: calc(var(--pixel-size) * var(--frame-size-height));
   outline: var(--pixel-size) solid #fff;
   z-index: 1;
   position: relative;
}

.blackscreen {
   background-color: black;
   width: calc(var(--pixel-size) * var(--frame-size-width));
   height: calc(var(--pixel-size) * var(--frame-size-height));
   top:0;
   left:0;
   position: absolute;
}

.camera {
   width: calc(var(--pixel-size) * var(--frame-size-width));
   height: calc(var(--pixel-size) * var(--frame-size-height));
   overflow: hidden;
   position: relative;
}

.map {
   image-rendering: pixelated;
   background-size: 100%;
   position: relative;
}

.fishing {
   background-image: url("./assets/fishing.gif");
   background-size: 100%;
   width: 180px;
   height: 96px;
   position: absolute;
   bottom: 5px;
   left: -75px;
   visibility: hidden;
}

.character {
   width: calc(var(--grid-cell)* 2);
   height: calc(var(--grid-cell)* 2);
   position: absolute;
   overflow: hidden;
}

.shadow {
   width: calc(var(--grid-cell)* 2);
   height: calc(var(--grid-cell)* 2);
   position: absolute;
   left: 0;
   top: 0;
   background: url("./assets/characterShadow.png") no-repeat no-repeat;
   background-size: 100%;
}

.character_spritesheet {
   position: absolute;
   background: url("./assets/character/customCharacter.png") no-repeat no-repeat;
   background-size: 100%;
   width: calc(var(--grid-cell)* 8);
   height: calc(var(--grid-cell)* 8);
}

.interraction_bubble {
   width: calc(var(--grid-cell)*2);
   height: calc(var(--grid-cell)*2);
   position: absolute;
   left: 0;
   top: -1;
   background: url("./assets/interractionBubble.png") no-repeat no-repeat;
   background-size: 100%;
   visibility: hidden;
}

.character[facing="right"] .character_spritesheet {
   background-position-y: calc(var(--pixel-size) * -32);
}

.character[facing="up"] .character_spritesheet {
   background-position-y: calc(var(--pixel-size) * -64);
}

.character[facing="left"] .character_spritesheet {
   background-position-y: calc(var(--pixel-size) * -96);
}

.character[walking="true"] .character_spritesheet {
   animation: walkAnimation 0.6s steps(4) infinite;
}

@keyframes walkAnimation {
   from {
       transform: translate3d(0%, 0%, 0);
   }

   to {
       transform: translate3d(-100%, 0%, 0);
   }
}

#colorpicker {
   display: flex;
   text-align: center;
   flex-direction: column;
}

.corner_topleft,
.corner_topright,
.corner_bottomleft,
.corner_bottomright {
   position: absolute;
   width: var(--pixel-size);
   height: var(--pixel-size);
   background: var(--bg);
   z-index: 2;
}

.corner_topleft {
   top: calc(var(--pixel-size) * -1);
   left: calc(var(--pixel-size) * -1);
}

.corner_topright {
   top: calc(var(--pixel-size) * -1);
   right: calc(var(--pixel-size) * -1);
}

.corner_bottomleft {
   bottom: calc(var(--pixel-size) * -1);
   left: calc(var(--pixel-size) * -1);
}

.corner_bottomright {
   bottom: calc(var(--pixel-size) * -1);
   right: calc(var(--pixel-size) * -1);
}

.headline {
   position: absolute;
   top: calc(var(--pixel-size) * 2);
   right: calc(var(--pixel-size) * 2);
   width: calc(var(--pixel-size) * 75)
}

.tchat_div {
   display: flex;
   flex-direction: row;
   font-size: 23px;
   opacity: 0;
   position: absolute;
   bottom: 0;
   left: 0;
   height: 25%;
   max-height: 25%;
   font-family: 'Comic Sans MS', cursive;
   border-top-right-radius: 10px 10px;
   border-top-left-radius: 10px 10px;
   border: 5px solid #5b3c11;
   background-color: rgba(180, 180, 180, 0.8);
   width: 100%;
}


.tchat {
   resize: none;
   width: 100%;
   background-color: rgba(180, 180, 180, 0.8);
}

/* .tchat {
   font-family: 'Comic Sans MS', cursive;
   resize: none;
   border-top-right-radius: 10px 10px;
   border-top-left-radius: 10px 10px;
   border: 5px solid #5b3c11;
   background-color: rgba(180, 180, 180, 0.8);
   width: 100%;
   height: 25%;
   max-height: 25%;
   position: absolute;
   bottom: 0;
   left: 0;
   opacity: 0;
} */