<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <img src="/assets/menuIcon.svg" width="20px" height="20px" style="max-width: none !important;">
</button>
<a href="http://yweelon.fr/index.php">
  <img src="/assets/Logo.png" width="40" height="40">
</a>
<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="http://yweelon.fr/index.php">Accueil</a>
    </li>
    <!-- --------- -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Bot
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="http://yweelon.fr/Hellbot.php">Hellbot</a>
        <a class="dropdown-item" href="http://yweelon.fr/GIT_bot.php">GIT Bot</a>
      </div>
    </li>
    <!-- --------- -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Guardian Tale
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="http://yweelon.fr/GT.php">Home</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="http://yweelon.fr/GT_herosheet.php">Hero Sheet</a>
        <a class="dropdown-item" href="http://yweelon.fr/GT_addhero.php">Add Hero</a>
        <a class="dropdown-item" href="http://yweelon.fr/GT_updatehero.php">Update Hero</a>
      </div>
    </li>
    <!-- --------- -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Jeux
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="http://yweelon.fr/minecraft.php">Minecraft</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="http://yweelon.fr/Games/yanno.php">Yanno</a>
        <a class="dropdown-item" href="http://yweelon.fr/Games/tictactoe.php">Tic Tac Toe</a>
        <a class="dropdown-item" href="http://yweelon.fr/Games/flappycube.php">Flappy Cube</a>
      </div>
    </li>
    <!-- --------- -->
    <li class="nav-item">
      <a class="nav-link" href="http://yweelon.fr/CV.php">Mon CV</a>
    </li>
    <!-- --------- -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Autre
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="http://yweelon.fr/testDokki.php">Dokki</a>
        <a class="dropdown-item" href="http://yweelon.fr/dessintato.php">Tato</a>
        <a class="dropdown-item" href="http://yweelon.fr/LOL.php">LOL</a>
      </div>
    </li>
    <!-- --------- -->
  </ul>
  <!--<button id="connexion_button" class="btn login-btn btn-outline-accent my-2 my-sm-0" style="font-size: 10px !important;font-family: poppins !important;">Connexion</button>-->
</div>